{% extends 'myapp/base.html' %}

{% block content %}

{% for post in posts %}
	<div class="post">
		<div class="date">
			<p>published: {{ post.published_date }}</p>
			<p>created: {{ post.created_date }}</p>
		</div>
		
		<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
		<p>{{ post.text|truncatechars:200|linebreaksbr }}</p>
		<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a> <!--add approved_comments to Post model due to post_list view is create by Post -->
	</div>
{% endfor %}

{% endblock %}

<!--pk is short for primary key, which is a unique name for each record in a database. 
Because we didn't specify a primary key in our Post model, Django creates one for us 
and adds it as a field named pk to each of our posts. We access the primary key by writing post.pk -->